* text=auto

# Source
*.ts text eol=lf
*.dart text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.svg text eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary

# Lockfiles
pnpm-lock.yaml -text